@import '../../styles/variables/variables';

.header {
  background-color: transparent;
  height: 5rem;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 2rem;
}

.title {
  box-sizing: border-box;
  color: $color-primary;
  font-weight: bold;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}