@import '../../styles/variables/variables';

.container {
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  color: #ffffff;
  font-weight: 400;
  width: 20%;
  position: relative;
}

.searchForm {
  box-sizing: border-box;
  color: #ffffff;
  width: 100%;
  background: rgba($color-primary, 0.2);
  outline: none;
  height: 3rem;
  padding-left: 1rem;
  border: 1px solid rgba($color-primary, 0.5);
  border-radius: 4px;
  font-size: 1.5rem;

  &::-webkit-input-placeholder {
    color: currentColor;
    font-size: 1.3rem;
  }

  &:focus {
    outline: none;
  }

  &:not(:placeholder-shown) + .searchBtn {
    display: block;
  }
}

.searchBtn {
  display: none;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  background-color: $btn-primary-color;
  color: $color-primary;
  border: none;
  border-radius: 3px;
  padding: 2px 4px;
  cursor: pointer;
}
