@import '../../styles/variables/variables';

.card {
  width: 12rem;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  margin: 1rem 2rem;
  color: $color-primary;
  padding: 1rem 0.5rem 2rem 0.5rem;

  & > * {
    margin: 0.5rem 0;
  }

  &:hover {
    background: rgba(grey, 0.3);
    clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 90%, 0% 0%);
  }
}

.cardActive {
  background: rgba(grey, 0.3);
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 90%,
    60% 90%,
    50% 100%,
    40% 90%,
    0% 90%
  ) !important;
}

.dayName {
  font-size: 1.7rem;
}

.tempMax {
  font-size: 1.9rem;
}

.tempMin {
  font-size: 1.3rem;
  padding-left: 1rem;
}

.weatherDesc {
  font-size: 1.2rem;
}

.weatherIcon {
  width: 4rem;
}
