@import '../../styles/variables/variables';

.placeHeading{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  color: $color-primary;
  margin: auto;
}

.weatherInfoBox {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}

.title {
  font-size: 4rem;
  letter-spacing: 2px;
  margin: 0;
}

.temp {
  font-size: 8rem;
  font-weight: 300;
  margin: 0;
  position: relative;

  &::after{
    content: "\00B0";
  }

}

.weatherIcon {
  font-size: 10rem;
  margin: 0 2rem;
  color: $color-primary;
}

.tempOptions {
  list-style: none;
  font-size: 3rem;
  margin: 0;
}

.tempOption {
  cursor: pointer;
}

.tempOptionActive {
  font-size: 4rem;
}

.weatherDescription {
  font-size: 4rem;
  margin: 0;
  font-weight: 300;
}

.weatherDetailsBox {
  font-size: 1.7rem;
  font-weight: 300;
}

.weatherDetailsRow {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}

.windIcon {
  font-size: 2rem;
  margin: 0 1rem;
}

.weatherDetail {
  margin: 0 2rem;
}